# dependencies
node_modules/

# build output
dist/
coverage/

# hardhat
contracts/artifacts/
contracts/cache/
contracts/typechain-types/

# env
.env
.env.*
!.env.example
context.md

# logs
*.log
pnpm-debug.log*

# editor/system
.DS_Store
# .vscode/
.idea/
